@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="imgcontainer">
    <img id="login" src="~/img/aimlogo-mod.png" alt="Avatar" class="avatar">
</div>

<div class="container">

    <form>
        <ul class="flex-outer">

            <li>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email here">
            </li>
            <li>
                <label for="phone">Password</label>
                <input type="tel" id="phone" placeholder="Enter your password here">
            </li>

            <li id="register-form">

                <label for="phone">Confirm Password</label>
                <input type="tel" id="phone" placeholder="Enter your password here">


            </li>
            <li id="register-form">
                <label for="role"> Jag är:</label>
                <ul class="flex-inner">

                    <li>
                        <input type="checkbox">
                        <label for="coach">Coach</label>
                    </li>
                    <li>
                        <input type="checkbox" id="athlete">
                        <label for="athlete">Athlete</label>
                    </li>
                </ul>
            </li>

            <li>
                <div class="btns">
                    <button id="register-submit" type="submit">Register</button>
                    <button type="submit">Login</button>
                </div>
            </li>


        </ul>

    </form>
    <button id="register" type="button">Registrera nytt konto</button> @*Används för att få fram formulä*@r
</div>