@model AccountViewModel

<div class="imgcontainer">
    <img id="login" src="~/img/aimlogo-mod.png" alt="Avatar" class="avatar">
</div>

    @await Html.PartialAsync("_Login", Model.Login)

    @await Html.PartialAsync("_Register", Model.Register)