@model StatisticsViewModel
<div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div class="date">
        <p>@Model.TrainingSession.Date.DayOfWeek, @Model.TrainingSession.Date.ToShortDateString()</p>

    </div>
    <div id="container-intensity">
        <p>Passintensitet</p><p id="intensity" class="intensity">@Model.Intensity</p><p>%</p>
    </div>
    

    <input type="radio" id="prone" value="prone">
    <label for="prone">Prone</label><br>
    <input type="radio" id="standing" value="standing">
    <label for="standing">Standing</label><br>

    <!-- Numeric.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id="myDiv" style="width: 480px; height: 300px;">
    </div>
</div>



