@model StatisticsViewModel
<div>
    <p id="filter-search-header">Filter Statistics</p>
    <div id="container-filter-search">
        <div id="all-filters">
            <ul>
                @*<li class="stat">Time Interval<span class="close">x</span></li>
                <li class="stat">Injuries<span class="close">x</span></li>
                <partial name="InjuriesPartial" />*@
                <li class="stat">Wind<span class="close">x</span></li>
                <li class="stat">Pulse<span class="close">x</span></li>
                <li class="stat">Shot Image<span class="close">x</span></li>
            </ul>
        </div>
    </div>


    <canvas id="lineGraph" style="width:100%;max-width:700px"></canvas>


    @*<div id="container-line-graph">
        <img id="line-graph" src="~/img/line-graph.png" alt="line graph" />
    </div>*@

</div>



