body {
    background-color: lightslategrey;
}

.container-flex {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container-last-session {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: ghostwhite;
    border-radius: 5%;
    height: 640px;
    width: 640px;
}

.last-session-items {
    justify-content: center;
    align-content: center;
}

.items-other-session {
    flex: 50%;
    padding: 10%;
    margin: 5%;
    align-content: space-evenly;
    background-color: ghostwhite;
    border-radius: 5%;
}

.container-other-sessions {
    display: flex;
    flex-direction: row;
    margin: 5%;
    background-color: lightslategray;
    border-radius: 5%;
}




