body {
    background-color: lightslategrey;
}



.container-last-session {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: ghostwhite;
    border-radius: 5%;
    height: 640px;
    width: 640px;
}


.last-session-date {
   margin-top:5%;
 align-self:flex-start;
 
    
}
.last-session-stance {
    
   align-self:end;   
   margin-bottom:5%;
}
.last-session-percentage{
   align-self:center;
   
}

.items-other-session {
    flex: 50%;
    padding: 10%;
    margin: 5%;
    align-content: space-evenly;
    background-color: ghostwhite;
    border-radius: 5%;
}

.container-other-sessions {
    display: flex;
    flex-direction: row;
    margin: 5%;
    background-color: lightslategray;
    border-radius: 5%;
}


@media screen and (max-width:768px){

    .container-flex{
        flex-direction:column;
    }
    .container-other-sessions{

        flex-direction:column;
    }
}
@media screen and (max-width:375px) {

    .container-flex {
        flex-direction: column;
    }

    .container-other-sessions {
        flex-direction: column;
    }
}
   
}

.last-session-stance {
}

.last-session-percentage {
}

.items-other-session {
    flex: 50%;
    padding: 10%;
    margin: 5%;
    align-content: space-evenly;
    background-color: ghostwhite;
    border-radius: 5%;
}

.container-other-sessions {
    display: flex;
    flex-direction: row;
    margin: 5%;
    background-color: lightslategray;
    border-radius: 5%;
}


@media screen and (max-width:768px) {

    .container-flex {
        flex-direction: column;
    }

    .container-other-sessions {
        flex-direction: column;
    }
}

@media screen and (max-width:375px) {

    .container-flex {
        flex-direction: column;
    }

    .container-other-sessions {
        flex-direction: column;
    }
}
