body{
 background-color: lightcoral;
}
.container-last-session{
    margin:5%;
   background-color:white;
}
.flex-item {
    flex: 50%;
    padding: 10%;
    margin:5%;
    align-content:space-evenly;
    background-color:white;
}

.container-other-sessions1 {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin: 5%;
    background-color: aqua;
  
}
.container-other-sessions2 {
    display: flex;
    flex-direction: row;
    flex: 50%;
    background-color: burlywood;
    margin: 5%;
}

body {
    background-color: #1E79BB;
}



.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    display: flex;
   
}

    .topnav #myLinks {
        display: none;
        
    }

    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

        .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (min-width: 1000px)
{
 
  .topnav #myLinks {
      display: flex;
      flex-direction: row;
  }
    .topnav a.icon {
        display: none;
    }

    
}