@model SessionDetailViewModel
    <!-- Numeric.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h1>@Model.TrainingSession.Location</h1>
    <h1>@Model.TrainingSession.Results</h1>
    <div id="myDiv" style="width: 480px; height: 300px;">
        </div>