@model SessionDetailViewModel

    <p id="serie-1">Skott-Serie 1</p>
    <div class="container-series">
        <div class="container-left-arrow">
            <button class="arrow left">
                <i class='fas fa-caret-left' style='font-size:36px'></i>
            </button>
        </div>
        <div class="container-shotts">
            @foreach (var serie in Model.Series)
            {
            <div class="shots">
                <div class="shot-5">
                    @foreach (var shot in serie.Shots)
                    {
                        <button id="shot" type="submit">@shot.Result</button>
                    }

                </div>
                
               
            </div>
                
        }

            </div>
            <div class="container-right-arrow">
                <button class="arrow right">
                    <i class='fas fa-caret-right' style='font-size:36px; color:royalblue;'></i>
                </button>
            </div>
        </div>

    @*<h1>@Model.TrainingSession.Location</h1>
        <h1>@Model.TrainingSession.Results</h1>*@