@model StatisticsViewModel
    <div>
        <h1 id="filter-search-header">Filter Search</h1>
        <div id="container-filter-search">
            <div id="all-filters">
                <div id="filter">
                    <p id="close-filter-button">x</p>
                    <p id="filter-text">Time Interval</p>
                </div>
                <div id="filter">
                    <p id="close-filter-button">x</p>
                    <p id="filter-text">Injuries</p>
                </div>
                <div id="filter">
                    <p id="close-filter-button">x</p>
                    <p id="filter-text">Weather</p>
                </div>
                <div id="filter">
                    <p id="close-filter-button">x</p>
                    <p id="filter-text">Intensity</p>
                </div>
                <div id="filter">
                    <p id="close-filter-button">x</p>
                    <p id="filter-text">Shot Image</p>
                </div>
            </div>
        </div>
        <div id="container-line-graph">

        </div>
    </div>
    <h1 id="filter-search-header">Filter Search</h1>
    <div id="container-filter-search">
        <div id="filter">
            <p id="close-filter-button">x</p>
            <p id="filter-text">Time Interval</p>
        </div>
        <div id="filter">
            <p id="close-filter-button">x</p>
            <p id="filter-text">Injuries</p>
        </div>
        <div id="filter">
            <p id="close-filter-button">x</p>
            <p id="filter-text">Weather</p>
        </div>
        <div id="filter">
            <p id="close-filter-button">x</p>
            <p id="filter-text">Intensity</p>
        </div>
        <div id="filter">
            <p id="close-filter-button">x</p>
            <p id="filter-text">Shot Image</p>
        </div>

    </div>



