<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DSU22_Team4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://use.fontawesome.com/42b241fb0c.js"></script>

</head>


    <body>
        <div id="page-container">
            <div id="content-wrap">
                <!-- Top Navigation Menu -->
                <div class="topnav">
                    <a asp-action="Index" asp-controller="Home" class="active"><img id="navimg" class="grow" src="~/img/aimlogo.png"></a>
                    <div id="myLinks">
                        <a asp-action="Index" asp-controller="Home">Hem</a>
                        <a href="#Min profil">Min profil</a>
                        <a href="#Inställningar">Inställningar</a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars fa-2x"></i>

                    </a>

            </div>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                &copy; AimTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>

</body>
</html>
