@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    var claims = (ClaimsIdentity)User.Identity;
    var fullName = claims.FindFirst(x => x.Type == "FullName").Value;
    <div id="myLinks">
        <a asp-action="Index" asp-controller="Home">Hem</a>
        
        <a asp-action="Index" asp-controller="Statistics" asp-route-id="@Model.Athlete.Id">Statistics</a>
        @*<a id=name asp-action="Index" asp-controller="Home"></a>*@
        <a id= logout asp-action="Logout" asp-controller="Account">Log out</a>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars fa-2x"></i>
    </a>
    
} 