@model AddDataViewModel
    <label for="trainingsession">Choose Training Session:</label>
    <input type="date" id="trainingsession" name="trainingsession">
    <h3>How did your session feel today?</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="page-header">1 is bad, 10 is good</p>
                <div class="chart-scale">
                    <button class="btn btn-scale btn-scale-asc-1">1</button>
                    <button class="btn btn-scale btn-scale-asc-2">2</button>
                    <button class="btn btn-scale btn-scale-asc-3">3</button>
                    <button class="btn btn-scale btn-scale-asc-4">4</button>
                    <button class="btn btn-scale btn-scale-asc-5">5</button>
                    <button class="btn btn-scale btn-scale-asc-6">6</button>
                    <button class="btn btn-scale btn-scale-asc-7">7</button>
                    <button class="btn btn-scale btn-scale-asc-8">8</button>
                    <button class="btn btn-scale btn-scale-asc-9">9</button>
                    <button class="btn btn-scale btn-scale-asc-10">10</button>
                    <hr />
                </div>
            </div>
        </div>
    </div>
