@model AddDataViewModel
    

<div class="container-add-form">
    <form asp-action="Success">
        <h3> Registrera sömn</h3>
        <ul>
            <li>
                <label for="Sleep">When did you fall asleep?</label>
                <input type="datetime-local" name="SleepTime" />
            </li>
            <li>
                <label for="Awake">When did you wake up?</label>
                <input type="datetime-local" name="AwakeTime" />
            </li>
            <li>
                <label for="Quality">Rate you sleep</label>
                <select name="Quality" id="Quality">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </li>
            <li>
                <button type="submit">Registrera Sömn</button>
            </li>
        </ul>
    </form>
    <form>
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter a name for your activity">
            </li>
            <li>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter a name for your activity">
            </li>
            <li>
                <label for="cars">:</label>

                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </li>
        </ul>
       <button>Send</button>
    </form>

</div>



<label for="trainingsession">Choose Training Session:</label>
    <input type="date" id="trainingsession" name="trainingsession">
    <h3>How did your session feel today?</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="page-header">1 is bad, 10 is good</p>
                <div class="chart-scale">
                    <button class="btn btn-scale btn-scale-asc-1">1</button>
                    <button class="btn btn-scale btn-scale-asc-2">2</button>
                    <button class="btn btn-scale btn-scale-asc-3">3</button>
                    <button class="btn btn-scale btn-scale-asc-4">4</button>
                    <button class="btn btn-scale btn-scale-asc-5">5</button>
                    <button class="btn btn-scale btn-scale-asc-6">6</button>
                    <button class="btn btn-scale btn-scale-asc-7">7</button>
                    <button class="btn btn-scale btn-scale-asc-8">8</button>
                    <button class="btn btn-scale btn-scale-asc-9">9</button>
                    <button class="btn btn-scale btn-scale-asc-10">10</button>
                    <hr />
                </div>
            </div>
        </div>
    </div>
