@model AddDataViewModel
    

<div class="container-sleep">
    <form asp-action="Success">
        <h4> Registrera sömn</h4>
        <ul>
            <li>
                <label for="Sleep">When did you fall asleep?</label>
                <input type="datetime-local" name="SleepTime" />
            </li>
            <li>
                <label for="Awake">When did you wake up?</label>
                <input type="datetime-local" name="AwakeTime" />
            </li>
            <li>
                <label for="Quality">Rate you sleep quality</label>
                <select name="Quality" id="Quality">
                    <option value="good">Good</option>
                    <option value="bad">Bad</option>
                    <option value="catastrophic">Catastrophic</option>
                    
                </select>
            </li>
            <li>
                <button type="submit">Registrera Sömn</button>
            </li>
        </ul>
    </form>
    

</div>




    <h3>How did your session feel today?</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="page-header">1 is bad, 10 is good</p>
                <div class="chart-scale">
                    <button class="btn btn-scale btn-scale-asc-1">1</button>
                    <button class="btn btn-scale btn-scale-asc-2">2</button>
                    <button class="btn btn-scale btn-scale-asc-3">3</button>
                    <button class="btn btn-scale btn-scale-asc-4">4</button>
                    <button class="btn btn-scale btn-scale-asc-5">5</button>
                    <button class="btn btn-scale btn-scale-asc-6">6</button>
                    <button class="btn btn-scale btn-scale-asc-7">7</button>
                    <button class="btn btn-scale btn-scale-asc-8">8</button>
                    <button class="btn btn-scale btn-scale-asc-9">9</button>
                    <button class="btn btn-scale btn-scale-asc-10">10</button>
                    <hr />
                </div>
            </div>
        </div>
    </div>
