@model SuccessViewModel

@*@foreach (var session in Model.TrainingSession)
{
    <div style="border:dashed; margin:5px;">
        <div>@session.Date</div>
        <div>@session.IbuId</div>
    </div>
}*@
@*<div>@session.Weather.Temp</div>*@
