@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container-flex">
        <div class="container-last-session">
            <div class="last-session-items">
                <h3>2022-01-27</h3>
                <div id="last-session-shots">
                    <h3>Liggande</h3>
                    <h4>77%</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-other-sessions">
        <div class="items-other-session">
            <h4 class="date-time">2022-01-27</h4>
            <h4 class="hit-rate ">80%</h4>
        </div>
        <div class="items-other-session">
            <h4 class="date-time">2022-01-27</h4>
            <h4 class="hit-rate ">70%:</h4>
        </div>
    </div>
    <div class="container-other-sessions">
        <div class="items-other-session">
            <h4 class="date-time">2022-01-27</h4>
            <h4 class="hit-rate ">60%</h4>
        </div>
        <div class="items-other-session">
            <h4 class="date-time">2022-01-27</h4>
            <h4 class="hit-rate ">90%</h4>
        </div>
    </div>

</body>
