@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="container-last-session">
   
    <div class="container-date">
        <h3 class="date-time">Dagens datum och tid:</h3>
    </div>
    <div class="container-shots">
        <h3 class="stance">Position: </h3> 
        <h4 class="hit-rate ">Träffpercent: </h4>
    </div>
</div>
<div class="container-other-sessions1">
    <div class="flex-item">
        <h4 class="date-time">Dagens datum och tid:1</h4>
        <h4 class="hit-rate ">Träffpercent: </h4>
    </div>
    <div class="flex-item">
        <h4 class="date-time">Dagens datum och tid:2</h4>
        <h4 class="hit-rate ">Träffpercent: </h4>
    </div>
    </div>
    <div class="container-other-sessions2">
        <div class="flex-item">
            <h4 class="date-time">Dagens datum och tid:3</h4>
            <h4 class="hit-rate ">Träffpercent: </h4>
        </div>
        <div class="flex-item">
            <h4 class="date-time">Dagens datum och tid:4</h4>
            <h4 class="hit-rate ">Träffpercent: </h4>
        </div>
    </div>
    
    </body>
